.sidebar {
    /*flex: 0 0 250px;*/
    overflow-y: auto;
    max-width: 250px;
    /*background-color: greenyellow;*/
}

.sidebar-item {
    padding-left: 0;
}

.youtube-logo {
    height: 50px;
    margin-right: 10px;
}

.main-content {
    background-color: aquamarine;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}
.no-glow:focus{
    outline: none;
    box-shadow: none;
}
.btn:focus, .btn:active, .input-group:focus, .input-group:active {
    outline: none !important;
    box-shadow: none;
}