.sidebar {
    /*flex: 0 0 250px;*/
    overflow-y: auto;
    max-width: 250px;
    /*background-color: greenyellow;*/
}
.sidebar-item{
    padding-left: 0;
 }
.youtube-logo{
    height: 50px;
    margin-right: 10px;
}

.main-content {
    background-color: aquamarine;
}

html, body {
    height: 100%;
}
#root{
    height: 100%;
}
.App{
    height: 100%;
}